In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import re
import joblib
import string

In [3]:
fake=pd.read_csv("Fake.csv")
true=pd.read_csv("True.csv")

In [4]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
fake["class"]=0
true["class"]=1

In [7]:
fake.head() #after adding class 0 for fake

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
true.head() #after labeling class as 1 for true

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [28]:
data=pd.concat([fake,true],axis=0)
data

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
data.sample(10) # random 10 samples after concatination

,title,text,subject,date,class
726,U.S. has 'frank' exchange on South China Sea d...,BEIJING (Reuters) - The United States and Chin...,politicsNews,"November 9, 2017",1
5571,Hillary’s GLORIOUS ‘Frozen’ Pun Just Totally ...,Donald Trump has been very busy trying to defe...,News,"July 6, 2016",0
2048,"Clinton, in book, says Trump's debate stalking...",WASHINGTON (Reuters) - Former Democratic presi...,politicsNews,"August 23, 2017",1
16751,BUSTED! GUESS WHO DEFENDED The Senate’s Role I...,THE MAIN STREAM MEDIA CHOOSES to ignore the fa...,Government News,"Feb 22, 2016",0
17214,"UNITED AIRLINES GROUNDED, WALL STREET JOURNAL ...","So the NYSE, Wall Street Journal and United Ai...",Government News,"Jul 8, 2015",0
2968,Trump names Republican aide to open FCC seat,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"June 29, 2017",1
4149,REPORT: Trump Laughed After Woman Was Grabbed...,Donald Trump is again under fire from allegati...,News,"October 17, 2016",0
21091,TRANSGENDER CRIES VICTIM When Airline Security...,So a woman straps an apparatus to her person...,left-news,"Jan 21, 2016",0
542,GOP Implodes As Trump Launches Nasty Public F...,Donald Trump is continuing to dig himself into...,News,"August 17, 2017",0
10671,U.S. lawmaker to introduce bill to broaden CFI...,WASHINGTON (Reuters) - A Democratic lawmaker w...,politicsNews,"February 25, 2016",1

In [11]:
print(data.columns)

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [33]:
data=data.drop(["title","subject","date"],axis=1)

In [35]:
data.reset_index(inplace=True)

In [36]:
data.drop(["index"],axis=1,inplace=True)

In [37]:
data.sample(5)

                                                    text  class
21136  Proving what we already knew, loyalty to radic...      0
35206  WARSAW (Reuters) - Poland is currently seen as...      1
646    Donald Trump s chief economic adviser and Dire...      0
843    On Sunday, Fox News had a rare moment of clari...      0
34265  HAVANA (Reuters) - Cuba is willing to talk wit...      1

In [ ]:
def clean_text(text):
    text=text.lower()
    text=re.sub('\[.*?]',"",text)
    text=re.sub('\\W'," ",text)
    text=re.sub('\[.*?]',"",text)
    text=re.sub('\[.*?]',"",text)